DirectoryIndex index.php
Options -Indexes

<FilesMatch "^(config\.php|.*\.env|.*\.sql|.*\.zip|README.*|.*\.md)$">
  Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  RewriteRule ^(sql|includes)(/|$) - [F,L]
</IfModule>
